<a href="https://colab.research.google.com/github/Jefferson-Pedro/Python-Para-Analise-de-Dados/blob/main/Cap02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.

In [12]:
lista = []
for n in range(1,11):
  lista.append(n) 
  print(n, end=' ')
print('\n',lista)

1 2 3 4 5 6 7 8 9 10
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Exercício 2 - Crie uma lista de 5 objetos e imprima na tela

In [38]:
lista = ['obj1','obj2','obj3','obj4','obj5']
print(lista)

['obj1', 'obj2', 'obj3', 'obj4', 'obj5']

## Exercício 3 - Crie duas strings e concatene as duas em uma terceira string

In [29]:
n = 'Jefferson'
s = 'Pedro'
nomeCompleto = n + ' ' + s
print(nomeCompleto)

Jefferson Pedro

## Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do objeto tupla para verificar quantas vezes o número 4 aparece na tupla

In [30]:
tupla = (1, 2, 2, 3, 4, 4, 4, 5)
tupla.count(4)

3

## Exercício 5 - Crie um dicionário vazio e imprima na tela

In [39]:
dicionario = {}
print(dicionario)

{}

## Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela

In [32]:
dicionario = {'Valor1': 1, 'Valor2':2, 'Valor3':3}
print(dicionario)

{'Valor1': 1, 'Valor2': 2, 'Valor3': 3}

## Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela

In [33]:
dicionario['Valor4'] = 4
print(dicionario)

{'Valor1': 1, 'Valor2': 2, 'Valor3': 3, 'Valor4': 4}

## Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos. Imprima o dicionário na tela.

In [34]:
dicionario = {'Valor1': 1, 'Valor2':2, 'Valor3':[3,4]}
print(dicionario)

{'Valor1': 1, 'Valor2': 2, 'Valor3': [3, 4]}

## Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e o quarto elemento um valor do tipo float. Imprima a lista na tela.

In [35]:
lista = ['String',('Dois', 'Elementos'),{'Valor1': 1, 'Valor2':2},4.5]
print(lista)

['String', ('Dois', 'Elementos'), {'Valor1': 1, 'Valor2': 2}, 4.5]

## Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

In [37]:
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'
print(frase[0:18])

Cientista de Dados